@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sora&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    background-color: white;
    color: #121212;
} 
.load-container {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #AF7A6D;
    pointer-events: none;
}

.anim-bloc {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    z-index: 100;

}
 .bloc-txt {
    background: white;
    position: absolute;
    bottom: -50px;
    left: -50px;
    height: 0;
    z-index: 175;
    overflow: hidden;
}

.bloc-txt h2 {
    padding: 10px 30px;
    color: #121212;
    font-family: Playfair Display, serif;
    font-size: 40px;
    text-transform: uppercase;
    transform: translateY(100px);
}

.images-container {
    width: 100%;
    height: 0px;
    position: absolute;
    /* Pour faire monter la height de bas en haut */
    bottom: 0px;
    z-index: 150;
    overflow: hidden;
}

.img-flip{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    position: absolute;
}

.flip-img1 {
    background-image: url('./ressources/image2.webp');
}

.flip {
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    position: absolute;
}

.f2 {
    background: #653239;
}

.home {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.603);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.home-content {
    width: 600px;
    margin: 0 auto;
    position: relative;
    top: 150px;
    color: #fff;
    z-index: 15;
}
.home-content h1 {
    font-family: Playfair Display, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 85px;
    /* font-weight: bolder; */
    line-height: 1.1;
    background: -webkit-linear-gradient(#E6B68B, #5B1F00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main section h1, h3 {
    background: -webkit-linear-gradient(#E6B68B, #5B1F00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-content .middle-line {
    height: 200px;
    width: 2px;
    background: #fff;
    margin: 40px auto;
    position: relative;
}


.home-content button {
    display: block;
    font-size: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    margin: 50px auto 0;
    padding: 16px 30px;
    cursor: pointer;
}
.home-content button a {
    color: #f3f3f3;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: normal;
    scroll-behavior: smooth;
}

.home-content a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #f1f1f1;
    transition: transform 0.3s ease-out;
}

.home-content a:hover::after {
    transform: scaleX(1);
}


/* Ma barre de navigation */
nav {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 55vh 0 0 0;
    padding: 15px 25px;
    background: #FFF;
    box-shadow: inset 0px -1px 0px #FFF;
}

.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 20 0 0;
}

.nav-icon span {
    font-size: 1.125rem;
    margin: 0 0 0 10;
    font-weight: 400;
    color: #FFF;
}

.hamburger {
    display: none;
}

.navlinks-container a {
    margin-right: 2vw;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: #121212;
}

.navlinks-container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #333;
    transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
    transform: scaleX(1);
}

@media (max-width: 1009px) {
    nav {
        padding: 15px 20px;
        position: relative;
        margin: 55 0 0 10vh;
    }
    .nav-icon {
        order: 2;
        margin: 0 auto;
    }
    .nav-icon span {
        font-size: 22px;
    }
    .main-navlinks {
        order: 1;
    }

    /* Hamburger */
    .hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background-color: #fafafa;
        align-items: center;
        position: relative;
    }
    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #333;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }
    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }
    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }
    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }
    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }
    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }
    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: #fff;
        top: 100%;
        left: 5vw;
        height: 32vh;
        padding: 15px 50px 15px 20px;
        transform: translate(-100%);
     /* transition: transform 0.3s ease-out; */
     /* plus nécessaire grace à la fonction ResizeObserver */
    }
    .open {
        transform: translate(0%);
    }
    .navlinks-container a {
        font-size: 18px;
        margin: 10px 0;
    }
}
@media (max-width: 500px) {
    .nav-icon span {
      font-size: 20px;
    }
    main section p {
        font-size: clamp(1rem, 1.5rem, 2rem);
    }
}



/* Welcome section */

.section-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60vh;
    width: 100%;
    height: 15vh;
}
  
.section-home > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
}

main {
    display: block;
    width: 36.813rem;
    margin: 10rem 1rem 0 1rem;
}

main > section {
    display: block;
}

.Text {
    margin-bottom: 40px;
}

.BoldFont {
    font-family: proximanova, Arial, Helvetica, Geneva, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: normal;
    text-align: start;
    margin: 48px 0 16px 0;
}

.BoldFontTwo {
    font-family: proximanova, Arial, Helvetica, Geneva, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    margin: 16px 0 20px 0;
}

a {
    text-decoration: underline;
    color: #000;
}
a:hover {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

img {
    margin: 15px 0 10px 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

main section > img {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 753px) {
 
    main {
        min-width: 640px;
        margin:0 auto;
    }
    section > p {
        text-align: left;
    }
}

@media only screen and (min-width: 1009px) {

    main {
        min-width: 550px;
        margin:0 auto;
        padding: 24px;
    }
    section > p {
        text-align: left;
    }
}

@media only screen and (min-width: 1264px) {
    main {
        min-width: 788px;
        margin:0 auto;
    }
}

#home,
#What-Is-Tiramisu,
#Ingredients,
#Make-Tiramisu,
#Store-Tiramisu,
#Ingredients-Per-One {
    scroll-behavior: smooth;
}
